<div class="sk-search" role="search">
  {% assign is_drawer = is_drawer | default: false %}
  <div
    id="skSearchOpen"
    {% unless is_drawer %}
      on:click="#search-modal/showDialog"
    {% endunless %}
    class="button button-unstyled search-modal__button header-actions__action sk-search-trigger skSearchOpen"
    aria-label="{{ 'content.search_input_label' | t }}"
    aria-haspopup="dialog"
  >
    <span class="sk-search-icon" aria-hidden="true">{{ 'search-icon-avenger.svg' | inline_asset_content }}</span>
    <div class="inputBoxDiv">
      <input
        type="text"
        class="sk-search-input"
      >
      <span class="sk-search-placeholder">
        <span class="static-text">Search for </span>
        {% assign words = 'T-shirts,Tops,Dress' | split: ',' %}

        <span class="dynamic-wrapper">
          <span class="dynamic-track">
            {% for word in words %}
              <span>{{ word }}</span>
            {% endfor %}
          </span>
        </span>
      </span>
      <div class="svg-icon-sk">{{ 'cross-icon.svg' | inline_asset_content }}</div>
    </div>
  </div>
</div>
<style>
  @font-face {
    font-family: 'obv-regular';
    src: url('{{ "fonnts.com-Obviously.otf" | asset_url }}') format('opentype');
    font-display: swap;
  }
  :root {
    --sk-border: rgba(210, 213, 218, 1);
  }

  .sk-search {
    width: 386px;
  }

  .sk-search-trigger {
    width: 100%;
    border-radius: 999px;
    border: 1px solid var(--sk-border);
    background: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    overflow: hidden;
    justify-content: flex-start;
  }

  .sk-search-icon {
    color: gray;
    flex-grow: 1;
  }

  .sk-search-icon svg {
    height: 24px;
    width: 24px;
  }

  .sk-search-placeholder {
    color: #666;
    font-size: 14px;
    font-family: 'obv-regular';
    font-weight: 400;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
  }

  .static-text {
    color: rgba(156, 163, 175, 1);
    padding: 0;
    margin: 0;
    display: inline-flex;
  }

  .dynamic-wrapper {
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
  }

  .dynamic-track {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    animation: stepSmooth 8s cubic-bezier(0.22, 1, 0.36, 1) infinite;
    will-change: transform;
  }
  .dynamic-track span {
    height: 1.6em;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    padding: 0;
  }

  @keyframes stepSmooth {
    0%,
    30% {
      transform: translateY(0);
    }

    40%,
    60% {
      transform: translateY(-1.6em);
    }

    70%,
    100% {
      transform: translateY(-3.2em);
    }
  }

  .sk-search-input {
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: 'obv-regular';
    z-index: 2;
    display: none;
  }

  .sk-search-input.active {
    display: block;
    width: 100%;
  }

  .sk-search-placeholder.hide {
    display: none;
    cursor: text;
  }

  .inputBoxDiv {
    display: flex;
    justify-content: space-between;
    flex-grow: 300;
  }

  .svg-icon-sk {
    display: none;
    align-self: center;
    cursor: pointer;
  }
  .svg-icon-sk svg {
    width: 12px;
    height: 12px;
  }

  .svg-icon-sk.active {
    display: flex;
  }
</style>
