{%- comment -%}
  vertical-thumbnails.liquid
  Renders a vertical list of thumbnail buttons that integrate with the slideshow's
  `handleThumbnailClick` and `handleThumbnailPointerEnter` handlers used elsewhere.
  Expects `sorted_media` and optionally `block_settings` to be in scope, or pass them when rendering.
{%- endcomment -%}

<ul class="vertical-thumbnails list-unstyled" role="list">
  {%- for media in sorted_media -%}
    {% liquid
      assign aspect_ratio = block_settings.aspect_ratio
      if block_settings.aspect_ratio == 'adapt'
        assign aspect_ratio = media.preview_image.aspect_ratio | default: 1.0
      endif
    %}
    <li class="vertical-thumbnails__item" style="--aspect-ratio: {{ aspect_ratio }};">
      <button
        type="button"
        class="vertical-thumbnails__button"
        aria-label="{{ 'accessibility.scroll_to' | t: title: media.alt | default: media.media_type }}"
        on:click="/handleThumbnailClick/{{ forloop.index0 }}"
        on:pointerenter="/handleThumbnailPointerEnter/{{ forloop.index0 }}"
        {% if forloop.first %} aria-selected="true" {% endif %}
      >
        {% liquid
          assign focal_point_style = ''
          if media.presentation.focal_point != blank
            assign focal_point_style = 'object-position: ' | append: media.presentation.focal_point | append: ';'
          endif
        %}
        {{
          media.preview_image
          | image_url: width: 1024
          | image_tag:
            loading: 'lazy',
            sizes: 'auto, 110, (min-width: 750px) 160',
            widths: '240, 352, 832, 1200',
            alt: media.alt,
            style: focal_point_style
          | escape
        }}
      </button>
    </li>
  {%- endfor -%}
</ul>
