{% comment %} <div class="main-bro"> {% endcomment %}
{% comment %} <div class="header-bro">
   <div class="fahhh">FILTERS</div>
   <div class="side-yr">
    <div class="sort-head">SORT BY: Best Selling</div>
    <div class="sort-res">26 Results</div>
   </div>
   
  </div> {% endcomment %}
<section class="pg-container">
  <!-- SIDEBAR -->
  <aside class="pg-sidebar">
    <div class="filter-heading-mobile">
      <span class="headingF">Filters</span> <span>{{ 'filter-cross.svg' | inline_asset_content }}</span>
    </div>
 


<div class="pg-sidebar-content">
  {% for i in (1..5) %}
    <div class="pg-filter skeleton-filter">
      <div class="pg-filter-header">
        <div class="skeleton-text skeleton-title"></div>
      </div>

      <div class="pg-filter-body">
        <div class="skeleton-text skeleton-option"></div>
        <div class="skeleton-text skeleton-option"></div>
        <div class="skeleton-text skeleton-option"></div>
      </div>
    </div>
  {% endfor %}
</div>

    <div class="bottom-btns">
      <button class="pg-clear-btn">REMOVE ALL FILTERS</button>
      <button class="pg-apply-btn">APPLY FILTERS</button>
    </div>
  </aside>

  <!-- PRODUCTS -->
  <div class="pg-product-filters">
    <div class="pg-active-filters"></div>
    <div class="pg-products">
     
  {% for i in (1..8) %}
    <div class="pg-card skeleton-card">
      <div class="skeleton-img"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text small"></div>
    </div>
  {% endfor %}

    </div>
    <div class="pg-pagination-container"></div>
  </div>
</section>
{% comment %} </div> {% endcomment %}
<div class="pg-overlay"></div>

<div class="pg-mobile-bar">
  <div class="pg-mobile-btn" id="mobileFilter">FILTER</div>
  <div class="pg-mobile-btn" id="genderFilter">GENDER</div>
</div>

<link rel="stylesheet" href="{{ 'collection-page-avenger.css' | asset_url }}">
<script src="{{ 'collection-page-avenger.js' | asset_url }}" defer></script>
<script src="{{ 'product-card-avenger.js' | asset_url }}" defer></script>
<template id="arrow-icon-tpl">
  {{ 'down-arrow-av.svg' | inline_asset_content }}
</template>
{% schema %}
{
  "name": "CollectionPage Avengers",
  "settings": [],
  "presets": [{ "name": "CollectionPage Avengers" }]
}
{% endschema %}
